body {
    text-align: center; 
    background: radial-gradient(rgb(248, 13, 131), rgb(31, 9, 84)); 
}

#title {
    font-family: 'sans-serif';
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 90%;
    margin: auto;
  }
  
  .btn {
    margin: 5px;
    display: inline-block;
    height: 300px;
    width: 100px;
    border: none;
 }

 .red {
    background-color: #FF0018;
  }
  
  .orange {
    background-color: #FFA52C;
  }
  
  .yellow {
    background-color: #FFFF41;
  }
  
  .green {
    background-color: #008018;
  }
  
  .blue {
    background-color: #0000F9;
  }
  
  .violet {
    background-color: #86007D;
  }
  
  .clicked {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  
  